<h1>Hello World</h1>
<p>Find me in app/views/home/index.html.erb</p>
Ooogie boogie

<%# To run ruby %>
<%# This is the buttom show in page %>
<%= link_to "Tress", trees_path %>

<p>Add a New Tree</p>
<%= link_to "New Tree", new_tree_path %>
